# Lesson 05 - Additional List Topics


### The following topics are discussed in this notebook:
* List functions and methods.
* Slicing.
* Lists of lists. 
* Copying lists.

## List Functions
There are several functions that can take lists as arguments. We will present five such functions here.
* `len()` returns the number of items in the list. 
* `sum()` returns the sum of the elements in a list. This only works on numerical lists.
* `max()` returns the largest item in the list. 
* `min()` returns the smallest item in the list. 
* `sorted()` returns a sorted copy of the list, but does not change the list itself.

We will illustrate the use of these functions using the two lists below.

In [1]:
# Starting lineup in a recent Cardinals game, along with jersey numbers. 
cardinals = ['Carpenter', 'Pham', 'DeJong', 'Fowler', 'Molina', 'Martinez', 'Wong', 'Grichuk', 'Wacha']
jerseys = [13, 28, 11, 25, 4, 58, 16, 15, 52]

In [2]:
# Find the length of the lists.
print(len(cardinals))
print(len(jerseys))

9
9

In [3]:
# Sum the jerseys list.
print(sum(jerseys))

222

In [4]:
# Find min and max of cardinals list.
print(min(cardinals))
print(max(cardinals))

Carpenter
Wong

In [5]:
# Find min and max of jersey list.
print(min(jerseys))
print(max(jerseys))

4
58

In [6]:
# Print sorted cardinals list, as well as original list.
print(sorted(cardinals))
print(cardinals)

['Carpenter', 'DeJong', 'Fowler', 'Grichuk', 'Martinez', 'Molina', 'Pham', 'Wacha', 'Wong']
['Carpenter', 'Pham', 'DeJong', 'Fowler', 'Molina', 'Martinez', 'Wong', 'Grichuk', 'Wacha']

In [7]:
# Print sorted jersey list, as well as original list.
print(sorted(jerseys))
print(jerseys)

[4, 11, 13, 15, 16, 25, 28, 52, 58]
[13, 28, 11, 25, 4, 58, 16, 15, 52]

## List Methods
We have already seen a few list methods such as `insert()`, `append()`, and `remove()`. Notice that all three of these method  actually alters the list that they are called on. One difference between methods and other functions is that methods have the ability to change the object that they are acting on, where as non-method functions generally do not. 

There are many list methods in addition to the three that we have seen. We will introduce two more here. 
* `sort()` sorts the elements of a list in ascending order. These changes affect the list itself. 
* `reverse()` arranges the elements of the list in reverse order. This affects the list itself.

In [8]:
listA = [6, 9, 1, 4, 7, 3, 6, 4, 5, 2]
listA.sort()
print(listA)

[1, 2, 3, 4, 4, 5, 6, 6, 7, 9]

In [9]:
listB = [6, 9, 1, 4, 7, 3, 6, 4, 5, 2]
listB.reverse()
print(listB)

[2, 5, 4, 6, 3, 7, 4, 1, 9, 6]

**<font color="orangered" size="5">� Exercise</font>**

Add lines of code to the cell below to sort `listC` in descending order. Then print `listC`.

In [10]:
listC = [6, 9, 1, 4, 7, 3, 6, 4, 5, 2]
listC.sort()
listC.reverse()
print(listC)

[9, 7, 6, 6, 5, 4, 4, 3, 2, 1]

In [11]:
listC = [6, 9, 1, 4, 7, 3, 6, 4, 5, 2]
listC.sort(reverse=True)
print(listC)

[9, 7, 6, 6, 5, 4, 4, 3, 2, 1]

In [12]:
temp = ['Carpenter', 'Pham', 'DeJong', 'Fowler', 'Molina', 'Martinez', 'Wong', 'Grichuk', 'Wacha']
temp.sort(key=len)
print(temp)

['Pham', 'Wong', 'Wacha', 'DeJong', 'Fowler', 'Molina', 'Grichuk', 'Martinez', 'Carpenter']

## Finding Index of List Elements

Lists have an `index()` method that accepts a single parameter. The method will return the index of the first occurrence of the supplied value within the list. If the value does not appear in the list, the method will produce an error.

The cell below creates a randomly generate list of 30 elements. Run this cell as is.

In [13]:
import random
random.seed(1)
rand_list = random.choices(range(0,50), k=30)
print(rand_list)

[6, 42, 38, 12, 24, 22, 32, 39, 4, 1, 41, 21, 38, 0, 22, 36, 11, 47, 45, 1, 1, 27, 46, 19, 10, 21, 1, 11, 21, 24]

The value 1 appears multiple times in this list. The code in the cell below will return the index of the first occurrence of 1.

In [18]:
rand_list.index(1)

9

The value 2 does not appear in the list. The code below will result in an error.

In [19]:
rand_list.index(2)

ValueError: 2 is not in list

**<font color="orangered" size="5">� Exercise</font>**

Print the largest value of `rand_list`, as well as the index where that value is stored. Print some text explaining which value is which.

In [25]:
max_val = max(rand_list)
max_idx = rand_list.index(max_val)

print('The largest element of rand_list is ', max_val, '.', sep='')
print('The largest element is at index ', max_idx, '.', sep='' )

The largest element of rand_list is 47.
The largest element is at index 17.

## Slicing Lists

Occasionally, we will need to need to work with a portion of a list, rather than the entire list. **Slicing** is a method of creating a sublist of consecutive elements drawn from another list. 
Assume that `myList` is a Python list, and let `i` and `j` be integers. 
* `myList[i:j]` will generate a sublist of `myList` that begins with the element at index `i` and contains all elements up to **but not including** the element at index `j`.  
* `myList[i:]` will generate a sublist of `myList` that begins with the element at index `i` and contains all later elements. 
* `myList[:j]` will generate a sublist of `myList` that contains all elements up to **but not including** the element at index `j`.

In [26]:
# Simple Slicing Example
simpleList = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(simpleList[3:7])
print(simpleList[5:])
print(simpleList[:8])

[6, 8, 10, 12]
[10, 12, 14, 16, 18, 20]
[0, 2, 4, 6, 8, 10, 12, 14]

We can also use negative indices when specifying a slice of a list.

In [27]:
# Print the last 6 elements of simpleList
print(simpleList[-6:])

[10, 12, 14, 16, 18, 20]

In [28]:
# Print all but the first two and last two elements of simpleList
print(simpleList[2:-2])

[4, 6, 8, 10, 12, 14, 16]

**<font color="orangered" size="5">� Exercise</font>**

CompCo is an company that manufactures laptop computers. The list `sales` below provides CompCo's total monthly sales for each month of 2016, measured in US dollars. The results are listed in order of month.

In [34]:
sales = [52353, 43724, 32191, 34914, 44671, 37139, 49341, 
         57139, 55104, 45193, 52167, 61294]

CompCo needs to calculate their quarterly sales for each quarter in 2016. 

Define four new variables Q1, Q2, Q3, and Q4 in the next cell. 
* Q1 contains the total sales for Quarter 1 (January, February, March).
* Q2 contains the total sales for Quarter 2 (April, May, June).
* Q3 contains the total sales for Quarter 3 (July, August, September).
* Q4 contains the total sales for Quarter 4 (October, November, December). 

Use a combination of slicing and the `sum()` function.

In [35]:
Q1 = sum(sales[0:3])
Q2 = sum(sales[3:6])
Q3 = sum(sales[6:9])
Q4 = sum(sales[9:])

Print the variables Q1, Q2, Q3, and Q4.

In [36]:
print(Q1)
print(Q2)
print(Q3)
print(Q4)

128268
116724
161584
158654

## Lists of Lists

It is possible for the elements of a list to be lists themselves. Let's consider a simple example.

In [37]:
metaList = [ 
    [4, 2], 
    ['a', 'b', 'c', 'd'], 
    [1.1, 2.2, 3.3] 
]

Notice that `metalist` is a list that contains three elements, each of which is also a list.
* `metaList[0]` is a list of two `int` values, `[4, 2]`.
* `metaList[1]` is a list of four `str`, `['a', 'b', 'c', 'd']`.
* `metaList[2]` is a list of three `float` values, `[1.1, 2.2, 3.3]`.

We can access elements of the inner lists by using two sets of square braces and two indices. 

For example, since  `metaList[1]` is the list `['a', 'b', 'c', 'd']`, we can access the `str` `'c'` with `metaList[1][2]`.

In [38]:
print(metaList[1][2])

c

**<font color="orangered" size="5">� Exercise</font>**

In the cell below, we have created lists for 9 midwest states. Each state list contains the names of the cities in that state with a population of 100,000 or greater.

In [39]:
MO_list = ['Independence', 'Kansas City', 'Springfield', 'St. Louis']
IL_list = ['Aurora', 'Chicago', 'Joliet', 'Napierville', 'Peoria', 'Rockford', 'Springfield']
AR_list = ['Little Rock']
KS_list = ['Kansas City', 'Olathe', 'Overland Park', 'Topeka', 'Wichita']
IA_list = ['Cedar Rapids', 'Des Moines']
NE_list = ['Lincoln', 'Omaha']
OK_list = ['Norman', 'Oklahoma City', 'Tulsa']
TN_list = ['Chattanooga', 'Clarksville', 'Knoxville', 'Memphis', 'Nashville']
KY_list = ['Lexington', 'Louisville']

We will now create a list that contains each of these 9 lists as its elements.

In [40]:
state_list = [MO_list, IL_list, AR_list, KS_list, IA_list, 
              NE_list, OK_list, TN_list, KY_list]

Without referring directly to any of the 9 original lists, print out a list of the cities in Kansas with a population of 100,000 or greater.

In [41]:
print(state_list[3])

['Kansas City', 'Olathe', 'Overland Park', 'Topeka', 'Wichita']

Without referring directly to any of the 9 original lists, print out a list of the cities in Nebraska with a population of 100,000 or greater.

In [42]:
print(state_list[5])

['Lincoln', 'Omaha']

Using only the list `cities_100K`, print the element `'St. Louis'`.

In [43]:
print(state_list[0][3])

St. Louis

Using only the list `cities_100K`, print the element `'Joliet'`.

In [44]:
print(state_list[1][2])

Joliet

## Copying Lists

Assume that `var1` is a variables of type `int`, `float`, `str`, or `bool`. We have seen before that if we create a new variable `var2` and set its initial value to be equal to that of `var1`, then `var2` will initially contain the same value as `var1`, but will be its own distinct variable whose value can be changed independent of `var1`. This is illustrated in the following two cells.

In [45]:
var1 = 37
var2 = var1 
print(var1)
print(var2)

37
37

In [46]:
var2 = "blah"
print(var1)
print(var2)

37
blah

The situation is different for lists, however. If we have a list called `list1` and we set `list2` to be equal to `list1`, then `list1` and `list2` will be two different names of the same list. Any changes made to `list1` will also effect `list2` and vice versa.

In [47]:
list1 = [3, 8, 2]
list2 = list1
print(list1)
print(list2)

[3, 8, 2]
[3, 8, 2]

In [48]:
list2.append(37)
print(list1)
print(list2)

[3, 8, 2, 37]
[3, 8, 2, 37]

What if we want to actually create a new, entirely separate, copy of an already existing list? It turns out that Python provides two ways of doing a such. 
1. We may use the `copy()` method of the list that we wish to duplicate.
2. We can return a copy of a list by using slicing. 

Let's see first see how to duplicate a list using the `copy()` method.

In [49]:
dup1 = list1.copy()
print(list1)
print(dup1)

[3, 8, 2, 37]
[3, 8, 2, 37]

In [50]:
dup1.append(42)
print(list1)
print(dup1)

[3, 8, 2, 37]
[3, 8, 2, 37, 42]

We will now see how to duplicate a list by using slicing.

In [51]:
dup2 = list1[:]
print(list1)
print(dup2)

[3, 8, 2, 37]
[3, 8, 2, 37]

In [52]:
dup2.remove(8)
print(list1)
print(dup2)

[3, 8, 2, 37]
[3, 2, 37]

**<font color="orangered" size="5">� Exercise</font>**

A list called `Avengers` is provided in the cell below. Add code to accomplish the following tasks:
1. Create two new copies of the list, one called `Avengers_Asc` and one called `Avengers_Desc`. 
2. Sort `Avengers_Asc` in ascending alphabetical order. 
3. Sort `Avengers_Desc` in descending alphabetical order. 
4. Print all three lists.

In [54]:
Avengers = ['Capt. America', 'Black Widow', 'Iron Man', 'Hulk', 'Thor', 'Hawkeye']

Avengers_Asc = Avengers.copy()
Avengers_Desc = Avengers.copy()

Avengers_Asc.sort()
Avengers_Desc.sort(reverse=True)

print(Avengers)
print(Avengers_Asc)
print(Avengers_Desc)

['Capt. America', 'Black Widow', 'Iron Man', 'Hulk', 'Thor', 'Hawkeye']
['Black Widow', 'Capt. America', 'Hawkeye', 'Hulk', 'Iron Man', 'Thor']
['Thor', 'Iron Man', 'Hulk', 'Hawkeye', 'Capt. America', 'Black Widow']

In [57]:
Avengers_Asc = sorted(Avengers)
Avengers_Desc = sorted(Avengers)
Avengers_Desc.reverse()

print(Avengers)
print(Avengers_Asc)
print(Avengers_Desc)

['Capt. America', 'Black Widow', 'Iron Man', 'Hulk', 'Thor', 'Hawkeye']
['Black Widow', 'Capt. America', 'Hawkeye', 'Hulk', 'Iron Man', 'Thor']
['Thor', 'Iron Man', 'Hulk', 'Hawkeye', 'Capt. America', 'Black Widow']